* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #5A61A0;
    position: relative;
}

main {
    position: absolute;

    top: 50%;
    left: 50%;

    background-color: #ffffff;

    width: 340px;
    padding: 20px;

    border-radius: 20px;

    transform: translate(-50%, 40%);
}

h1 {
    text-align: center;
    font-size: 1.7em;
}

h1#title {
    margin-bottom: 20px;
}

h1#generated_password_area {
    margin: 10px auto;
}

#area_password_generator > p {
    padding-bottom: 10px;
}

#area_password_generator > form > input[type = range] {
    width: 80%;
}

#area_password_generator > form > input[type = submit] {
    display: block;
    margin: 10px auto 0px auto;
    width: 80%;
    padding: 5px;
}

input[type = button] {
    display: none;
    margin: auto;
    padding: 5px;
}

input[type = button].show_button {
    display: block;
}